/* =
   General styles
   = */
html {
  background: radial-gradient(circle at top left, #A5E6BA,#9AC6C5, #7785AC,#5B2A86,
#360568);
}
p {
  margin: 15px;
}
img {
  width: 100%;
}
div.video-container,
iframe {
  min-height: 500px;
  width: 1200px;
}

/* =
   Typography scheme
   = */
body {
  font-size: 35px;
  font-family: "Comic Sans MS";
  color: Black;
}
h1,h2,h3,h4, footer{
  font-family: "impact";
  color: white;
}

footer {
  font family: "impact";
  color: white;
}


/* =
   Grid styles
   = */
section#personal,
section#social,
header, footer {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
/* Media query */
@media screen and (min-width:1080px) {
  section#personal {
    grid-template-columns: 40% 1fr;
  }
  section#social {
    grid-template-columns: 1fr 40%;
  }
}

@media screen and (max-width: 670px) {
  section#social div.content-wrapper{
    grid-row: 2;
    grid-column: 1;
  }
  section#social div.media-wrapper{
    grid-row: 1;
    grid-column: 1;
  }
}

/* =
   Header styles
   =*/
header {
  height: 450px;
}
@media screen and (max-width:670px) {
  header {
    height: auto;
  }
  header div.dataviz-none {
    display: none;
  }
  header h1 {
    margin: 30px;
  }
}

/* =
   Section styles
   = */
section#personal div,
section#social div,
section#resources div {
  min-height: 350px;
  padding-bottom: 50px;
  padding-top: 200px;
}
section#personal div.content-wrapper {
  margin-left: 15px;
}
section#social div.content-wrapper {
  margin-right: 15px;
}
div.media-wrapper {
  align-self: center;
}
section#personal div.content-wrapper img {
  float: left;
  margin-right: 70px;
  width: 700px;
}

/* =
   Footer styles
   = */
footer {
  min-height: 150px;
}
